@model MoviesLibrary.MovieData
@{
  Layout = "~/Views/Shared/Empty.cshtml";
}
<script type="text/x-kendo-tmpl" id="template">
<div class="col-xs-3">
  <img src="/content/photo.png" alt="image" />
  <h3>#= data #</h3>
</div>
</script>


@(Html.Kendo().ListView(ViewBag.Movie.Cast)
    .Name("ListView")
    .TagName("div")
    .ClientTemplateId("template") // Specify the action method and controller name
    )
